* {
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--clr2);
    font-size: 1.5rem;
    background:var(--clr3);
}

ul, li {
    margin: 2em;
}

li:hover {
    color: var(--clr4);
}

canvas {
    position: absolute;
}

input {
    font-size: 1em;
    /* align-self: center; */
    /* justify-self: center; */
    border-radius: 1.5em;
    margin-bottom: 0.5em;
    border: 0;
}

a {
    text-decoration: none;
    color: var(--clr2);
}