.header-layout {
    flex-direction: row;
}


.footer-layout {
    background-color: var(--clr1);
    /* width: 100%; */
    /* margin: auto; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo {
    width: 10%;
}

.footer-layout .logo {
    margin-top: 1em;
}