.canvas-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    outline: 1px solid black;
    height: 500px;
    width: 500px;
    margin: auto;
}

#img-layer {
    z-index: 1;
}

#text-layer {
    z-index: 100;
}