.editor {
    display: grid;
    width: 30%;
    /* height: 10px; */
    grid-template-columns: repeat(5, 5em);
    grid-template-rows: repeat(5);
    gap: 5px;
    /* margin: auto; */
    grid-template-areas:
        "text text text text text"
        "up a b c down"
        "d e f g h"
        "font font font i j"
        "download download . share share";
    justify-content: space-between;
    gap: 10px;
}

section.editor> :not(.icon) {
    padding: 1em;
    align-self: baseline;
}

.icon {
    /* height: 10%; */
    width: 20%;
    align-self: baseline;
    justify-self: center;
}

#text-line {
    grid-area: text;
}

.icon1 {
    grid-area: a;
}

.icon2 {
    grid-area: b;
}

.icon3 {
    grid-area: c;
}

.icon4 {
    grid-area: d;
}

.icon5 {
    grid-area: e;
}

.icon6 {
    grid-area: f;
}

.icon7 {
    grid-area: g;
}

.icon8 {
    grid-area: h;
}

.icon9 {
    grid-area: i;
}

.icon10 {
    grid-area: j;
}

.move-line-up {
    grid-area: up;
}

.move-line-down {
    grid-area: down;
}

.font-select {
    grid-area: font;
    font-size: 1em;
    /* justify-self: center; */
    border: 0;
}

.download {
    grid-area: download;
    
}

.share-container {
    grid-area: share;
}

.download,
.share-container,
.move-line-up,
.move-line-down {
    text-decoration: none;
    background-color: var(--clr1);
    align-self: baseline;
        color: var(--clr2);
    height: 3em;
}