.editor {
    display: grid;
    width: 30%;
    /* height: 10px; */
    grid-template-columns: repeat(5, 25%);
    grid-template-rows: repeat(4);
    gap: 5px;
    /* margin: auto; */
    grid-template-areas: 
    "text text text text text"
    ". a b c ."
    "d e f g h"
    "font font font i j";
    justify-content: space-between;
}

.icon {
    /* height: 10%; */
    width: 20%;
    align-self:baseline;
    justify-self: center;
}

#text-line {
    grid-area: text;
}

.icon1 {
    grid-area: a;
}

.icon2 {
    grid-area: b;
}

.icon3 {
    grid-area: c;
}

.icon4 {
    grid-area: d;
}

.icon5 {
    grid-area: e;
}

.icon6 {
    grid-area: f;
}

.icon7 {
    grid-area: g;
}

.icon8 {
    grid-area: h;
}

.icon9 {
    grid-area: i;
}

.icon10 {
    grid-area: j;
}

.font-select {
    grid-area: font;
    font-size: 1em;
    align-self:baseline;
    /* justify-self: center; */
    border-radius: 1.5em;
    border: 0;
    padding: 1.5em;
}