.main-container {
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin: auto; */
    justify-content: space-around;
    justify-items: center;
    /* width: 80%; */
    display: none;
}